extends layout

block content
  h1 Biking Conditions in #location
  p Today's weather will be
  p You should wear
  p Too warm?
  p Too cold?

  img


  p Weather data provided by Forecast.io

  script(src='http://code.jquery.com/jquery-2.0.3.min.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js")