extends layout

head
  include main.css

block content
  h1 Biking conditions today

  img(id='bikepic' src="/images/bike.svg")

  p The weather feels like

  div(id='temp') 
  p and
  div(id='report') 
  p The weather in 8 hours will feel like
  div(id='nightForecast') 
  

  
  div(id='temp')

  h4 You might consider wearing:

  div(id='clothingSuggestion')

  div(id='head')
  div(id='legs')
  div(id='chest')
  div(id='feet')
  div(id='hands')


  //-button Too warm?
  //-button Too cold?

  div(id='insta')


  
  a(href='http://forecast.io') Weather data provided by Forecast.io
  p Powered by Node.js and brought to you by Chris Lizama in Boulder, CO


  script(src='http://code.jquery.com/jquery-2.0.3.min.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js")

