extends layout

head
  include main.css
  link(href="http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic", type="text/css")

block content
  h1 Biking conditions today

  img.animated.bounce(id='bikepic' src="/images/bike.svg")

  h4 The weather feels like

  div(id='report')  
  
  div(id='temp')

  h4 You might consider wearing:

  div(id='clothingSuggestion')

  div(id='head')
  div(id='legs')
  div(id='chest')
  div(id='feet')
  div(id='hands')


  h4 The weather in 8 hours will feel like
  div(id='nightForecast')
  h5(id='prepare')
  br
  br

  div(id='instaTarget')
  br
  br
  br
  div(id='tweetTarget')
  br
  br

  footer.navbar.navbar-default.navbar-fixed-bottom.footer-bar
    a(href='http://forecast.io') Weather data provided by Forecast.io
    a(href='http://instagram.com') Thumbnails from Instagram #biking
    p Powered by Node.js and brought to you by <a href='https://github.com/cmlizama/'>Chris Lizama</a> in Boulder, CO


  script(src='http://code.jquery.com/jquery-2.0.3.min.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js")
  script(src="/javascripts/main.js")

