extends layout

block content
  h1 Biking conditions today
  p Today's weather will be 

  p= realFeel
  p= summary


  button(id='btnLoad') Load data
  
  div(id='result')

  h2 You should wear

  p= clothingSuggestion

  button(id='warmer') Too warm?
  button(id='colder') Too cold?

  img


  p Weather data provided by Forecast.io

  script(src='http://code.jquery.com/jquery-2.0.3.min.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js")

